.authMesage{
    width: 5px;
    height: 5px;
    display: flex;
    justify-content: center;
    margin-left: 20px;
    animation-duration: 1.2s;
    animation-iteration-count: infinite;
    
}


.authMesage i{
    font-size: calc(0.4em + 1vw);
    color: var(--color-MR);

    
}

