.card-e{
    
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    
}



.name-section{
    height: 40px;
    font-size: 3em;
    padding-left: 50px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    justify-content: start;
}
.name-section h6{
    position: absolute;
    left: 70px;
    display: flex;
    flex-direction: column;
    font-size: calc(0.8em + 0.5vw);
}

.container-cards-Events{
    width: 90%;
    padding-top: 20px;
    padding-left: 110px;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    justify-content:start;
    flex-wrap: wrap;
    margin-bottom: 20px;
    gap: 5%;
}
    
.cardE{
    width: 340px;
    height: 360px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    padding: 12px 0px 12px 0px;

    margin-bottom: 12px;
}
.image-event{
    width: 90% !important;
    height: 70% !important;
    margin-bottom: 12px;
    border-radius: 12px;
    background-color: black;
}

.image-event img{
    width: 100% !important;
    height: 100% !important;
    object-fit: cover;
    object-position: center center;
    border-radius: 12px;
}




.infoContain-card-event{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding-left: 35px;
}
.infoContain-card-event h6{
    font-size: 1.2em;
}



.infoContain-card-event button{
    margin-top: 20px;
    width: 50%;
    height: 30px;
    background-color: var(--color-MR);
    color: var(--color-w);
    border-radius: 5px;

}
.infoContain-card-event button:hover{
    background-color: var( --color-RN);
    cursor:pointer;

}

.notCharged{
    background-color: rgba(128, 128, 128, 0.089);
    border-radius: 12px;
}


.loding1{
    animation-name: one-c;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    opacity: 0;
}
@keyframes one-c{
    0%{
        opacity: 0;
    }
    50%{
        opacity: 1;
    }
    100%{
        opacity: 0;
    }
}

.loding2{
    animation-name: two-c;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    animation-delay: 0.3s;
    opacity: 0;
}

@keyframes two-c{
    0%{
        opacity: 0;
    }
    50%{
        opacity: 1;
    }
    100%{
        opacity: 0;
    }
}

.loding3{
    animation-name: tree-c;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    animation-delay: 0.7s;
    opacity: 0;
}
@keyframes tree-c{
    0%{
        opacity: 0;
    }
    50%{
        opacity: 1;
    }
    100%{
        opacity: 0;
    }
}

.loding4{
    animation-name: four-c;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    animation-delay: 1s !important;
    opacity: 0;
}
@keyframes four-c{
    0%{
        opacity: 0;
    }
    50%{
        opacity: 1;
    }
    100%{
        opacity: 0;
    }
}




@media screen and (max-width: 760px) {
    .card-e{
        flex-direction: column;
        width: 100%;
    }
    .container-cards-Events{
        width: 100%;
        align-items: center;
    }
}



@media screen and (max-width: 1245px) {

    .container-cards-Events{
        width: 100%;

            justify-content: space-around;
    }
}




@media screen and (max-width: 609px) {
    .container-cards-Events{
        width: 100%;
        padding: 0;

           
    }
  
}