.publicity-cont{
    width: 100%;
    height: 700px;
    display: flex;
    margin-bottom: 20px;
    display: flex;

    box-shadow:
    inset 0 -3em 3em rgba(0, 0, 0, 0.012),
    0 0 0 2px rgba(255, 255, 255, 0.177),
    0.3em 0.3em 1em rgba(0, 0, 0, 0.113);
}


.info-event-publi{
    width: 50%;
    height: 100%;
    background: linear-gradient(#ff7e7929, #f1f0f0f6);
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.image-public-event{
    width: 50%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.459);
    
}.image-public-event img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center center;
    
}




.text-nv{
    width: 100%;
    padding-top: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 30px;
    
}
.text-nv h1{
    font-size: calc(2em + 1vw);
    text-align: center;
}.text-nv p{
    color:var( --color-MR);
    font-size: calc(0.5em + 1vw);
}
.cointer{
    
    width: 80%;
    display: flex;
    align-items: center;
    margin-top: 80px;
    justify-content: space-around;
    gap: 30px;
}

.num{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: auto;
    height: 100%;
    font-size: calc(2em + 1vw);
}

.bto-more{
    width: 100%;
    height: 100px;
    margin-top: 80px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 12px;
}
.bto-more button{
    width: 300px;
    height: 80px;
    border-radius:12px;
    font-size: calc(0.4em + 0.7vw);
    background-color: var( --color-RN);
    color: var( --color-w);
}

.bto-more button:hover{
    background-color: var(--color-MR);
}


.loader-div{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.changeLoader{
    width: 90%;
    background-color: rgba(143, 143, 143, 0.247);
    height: 90%;
    border-radius: 12px;
    animation-duration: 1s;
    animation-iteration-count: infinite;
}

@media screen and (max-width: 1133px) {
    .publicity-cont{
        height: auto;
        flex-direction: column;
        width: 100%;
        position: relative;
    }
    .image-public-event{
        position: absolute;
        width: 100%;
        z-index: -20;
        filter: brightness(0.4);
     
    }
    .info-event-publi{
        width: 100%;
        color: white;
        background: linear-gradient(#ff7e7929, #000000f5) !important;
    }
  





}