:root{
    --color-MRModified : #e0323bce;
    --blackModified : #00000050;
    --pinkModified: #e2c4c449;
}

.carrucel{
    position: relative;
    width: 99%;
    height: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    background-color: var(--blackModified);
    box-shadow:
    inset 0 -3em 3em rgba(0, 0, 0, 0.012),
    0 0 0 2px rgba(255, 255, 255, 0.177),
    0.3em 0.3em 1em rgba(0, 0, 0, 0.113);
    z-index: -12 !important;

}
.card-containers{
    width: 100%;
    height: 280px;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 30px;
    padding-left: 5%;
    background-color: var( --color-MRModified);
    overflow-x: auto;
    z-index: -10 !important;

    

}
.card-event{
    width: 500px;
    height: 70%;
    border: 1px solid black;
    border-radius: 15px;
    position: relative;
    
}
.card-event img{
    position: absolute;
    width: 100%;
    height : 100%;
    border-radius: 15px;
    object-fit: contain;
    object-position: 300px center;
    filter: brightness(0.5);
}



.text-CardEv{
    padding-top: 20px;
    padding-left: 20px;
    font-size: calc(0.4em + 0.7vw);
    color: var(--color-w);
    display: flex;
    width: 100%;
    height: 100%;
    position: absolute;
    flex-direction: column;
    gap: 30%;
}


.text-CardEv p{
    position: absolute;
    bottom: 30px;
    
}

@media (max-width: 999px) {

    .card-containers{
        width: 100%;
        height: 200px;
        flex-wrap: wrap;
        justify-content: space-around;
        overflow-x: hidden;
        box-shadow:
        inset 0 -3em 3em rgba(0, 0, 0, 0.012),
        0 0 0 2px rgba(255, 255, 255, 0.177),
        0.3em 0.3em 1em rgba(0, 0, 0, 0.113);
    }



}