.event-content-shop{
    width: 100%;
    height: auto;
    display: flex;
    position: relative;
    margin-top: 20px;
    gap: 10px;

}

.image-event-shop{
    width: 50%;
    height: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(255, 255, 255);
    flex-wrap: wrap;
}
.image-event-shop img{
    width: 100%;
    height: 100%;
    object-position: center center;
    object-fit: cover;
    border-radius: 12px;
}

.info-content{
    width: 50%;
    height: 100%;

    
    
}

.container-img{
    width: 80%;
    height: 80%;
}

.more {
    display: flex;
    flex-direction: column;
    gap: 20px;
    justify-content: center;
}

.more h1{
    font-size: calc(2.5em + 1vw);
    margin-left: 20px;
    margin-top: 22px;
}

.more p{
    margin-left: 20px;
    font-size: calc(0.4em + 1vw);
}

.more button{
    padding: 10px;
    width: 30%;
    border-radius: 12px;
    color: white;
    font-size: calc(0.5em + 1vw);
    margin-left: 20px;
    background-color: var(--color-MR);
}

.info-content p i{
    color: red;
}

@media screen and (max-width: 990px) {
    .event-content-shop{
        flex-direction: column !important;
        width: 100%;
        display: flex;
        align-items: center;
        padding: 0;
        margin: 0;
    }
    .image-event-shop{
        width: 100%;
    }

    .event-content-shop button{
        width: 90%;
        padding: 20px;
        margin-bottom: 20px;
    }
    .info-content{
        width: 100%;
    }
    .info-content h1{
        margin-left: 10%;
    }
    .info-content p{
        margin-left: 10%;
        font-size: calc(0.8em + 0.8vw) !important;
    }
    .date{
        width: 140px;
        height: 220px;
    }
    

    .moreDates{
        display: flex;
        flex-wrap: wrap;
        height: auto;
        justify-content:start;
        gap: 20px
        ;
    }
   

}
