*{
    margin: 0;
    border: 0;
    padding: 0;
    opacity: 0;
    transition: 0.1s ease-in-out;
    animation-name: op;
    animation-duration: 0.5s;
    animation-fill-mode: forwards;


}

:root{
    --color-w: #FFFFFF;
    --color-B: #000000;
    --color-MR : #E0323B;
    --color-RN : #A91220;
    --color-Pn: #E2C4C4;
    --color-Bl : #012D44;
    --color-MB: #4C2A36;
    --color-MbB: #24282A;
    --color-barr:  #012d44b1;
    /* Fonts*/

}
@keyframes op{
    0%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }

}
::-webkit-scrollbar {
    width: 10px; 
    height: 20px; 
    transition: 0.5s ease;
    background:rgba(0, 0, 0, 0);
  }

*::-webkit-scrollbar-track {
    
    width: 60px;
  }
  
  *::-webkit-scrollbar-thumb {
    background: var( --color-RN); 
    border-radius: 6px; 
   
  }
  
  *::-webkit-scrollbar-thumb:hover {
    background:var(--color-MR); 
  }

  body{
    background-color: white;
  }