.info-s{
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 50px;
    position: relative;
    box-shadow:
    inset 0 -3em 3em rgba(0, 0, 0, 0.012),
    0 0 0 2px rgba(255, 255, 255, 0.177),
    0.3em 0.3em 1em rgba(0, 0, 0, 0.113);
}



.cd-icon{
    width: 15%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-left: 20px;
    padding-right: 12px;
    gap: 10px;

    
}

.cd-icon i{
    font-size: calc(3em + 1vw);
    margin-top: 12px;
}
.cd-icon h6{
    font-size: calc(0.2em + 1vw);
    color: var(--color-MR);
    text-align: center;
    margin-bottom: 12px;
}

.cd-icon p{
    text-align:center;
}

.moreDates{
    width: 100%;
    height: 200px;
    display: flex;
    justify-content: space-around;
}

.section-name{
    margin-left: 5%;
    font-size: calc(1.2em + 1vw);
    margin-top: 12px;
}
.date{
    width: 10%;
    height: 100%;
    background-color: rgba(209, 209, 209, 0.527);
    border-radius: 12px;
    display: flex;
    justify-content: center;

    flex-direction: column;


}


.date-number{
    width: 100%;
    height: 90%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}
.date-number .sep{
    width: 90%;
    height: 2px;
}

.date-number h1{
    font-size: calc(2em + 1vw);
    color: var( --color-MR);
}

.info-shop{
    margin-top: 40px;
    width: 95%;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 50px;
    padding-left: 20px;
    padding-right: 12px;
}

.info-shopp p{
    width: 50%;
    height: 100%;

}

.contador-cont-evt{
    width: 100%;
    height: 500px;
    padding-top: 12px;
    box-shadow:
    inset 0 -3em 3em rgba(0, 0, 0, 0.012),
    0 0 0 2px rgba(255, 255, 255, 0.177),
    0.3em 0.3em 1em rgba(0, 0, 0, 0.113);
}

.container-title{
    text-align: center;

}
.info-s{
    height: 300px;
}


.container{
    width: 100%;
    height: 20px;
    margin-bottom: 190PX;
}

.contador-cont-evt h1{
    text-align: center;
    font-size: calc(2em + 1vw);
    margin-top: 12px;
}


@media screen and (max-width: 990px) {
    .info-s{
        display: none !important;
    }
    .foot{
        display: NONE;
    }
}