
*{
    font-family:Arial, Helvetica, sans-serif;

    
}
:root{
    --color-N : black;
    --color-R:  red;
    --color-RN: rgb(116, 12, 12);
    --color-W : white;
    --color-redBack : #E0323B;
    --color-bl: #6196B4;
    --color-b2:#012D44;
    --color-h: #f1e7cc;
    --color-cr: #b90e1e;
    --color-rv: #730001;
}


header{
    padding: 0 5px 0 5px;
    width: 99%;
    height: 80px;
    transition: 0.3s;
    z-index: 30;
    background-color: white;
   
}
.header-Page{
    width: 99%;
    position: absolute;
    left: 0;
    top: 0;
    padding-top: 10px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    gap: 30px;

}
.input-Search{
    width: 50%;
    height: 30px;
}
.input-Search input{
    width: 100%;
    height: 100%;
    background-color: rgb(222, 222, 222);
    border-radius: 20px;
    padding-left: 20px;
    font-size: calc(0.1em + 0.9vw);
    padding: 2px;
    padding-left: 12px;
}

.RS-Logo{
    font-size: 0.9em;
    color: var(--color-redBack);
    
}
.logo{
    width: auto;
    padding-left: 1%;
    
     color: var(--color-N);
     font-size: calc(0.9em + 1vw);
     font-weight: 600;
    text-decoration: none;

}

.link-Dynamic{
    display: flex;
    gap: 40px;
    font-size: calc(0.2em + 1vw);

}.link-Dynamic a{
    text-decoration: none;
    color: var(--color-N);
    cursor: pointer;
    transition: 0.3s;
}
.link-Dynamic a:hover{
    color: var(--color-redBack);
}

.sesionBlock{
    width: 5%;
    height: 35px;
    cursor: pointer;
    border-radius: 15px;
    background-color: rgba(0, 0, 0, 0.199);
    display: flex;
    justify-content: center;
    align-items: center;

}.sesionBlock i{
    font-size: calc(0.2em + 1vw);
    color : (--color-B);
}


.sesionBlock:hover{
    transform: scale(1.05);

    .fa-user{
        color :red;
    }
}


@media (max-width: 1175px) {
    .link-Dynamic{
        display: none;
    }

    .logo{
         font-size: calc(0.5em + 1.5vw);
         
    }
    .input-Search input{
        font-size: calc(0.9em + 0.2vw);

    }



}
@media (max-width: 651px) {
    .logo{
     display: none;
        
   }
   .input-Search{
    width: 70%;
    margin-left: 12px;
    font-size: calc(0.9em + 0.2vw);

}
.sesionBlock{
    width: 90px;
}

.sesionBlock i{
    font-size: calc(0.9em + 0.2vw);
}




}










